<h1 mat-dialog-title>{{module.module}}</h1>

<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Header</mat-label>
    <input matInput [ngModel]="module.header">
  </mat-form-field>
  <div>
    <ng-template *ngFor="let field of module.config | keyvalue">
      {{field}}
    </ng-template>
  </div>
</div>


<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
</div>
