<h1 mat-dialog-title>{{module.module}}</h1>

<div mat-dialog-content>
  <div [formGroup]="configForm">
    <mat-form-field appearance="fill">
      <mat-label>Header</mat-label>
      <input matInput formControlName="header">
    </mat-form-field>
    <div>
      <ng-container formArrayName="configItemForms">
        <ng-container *ngFor="let configItemForm of configItemForms.controls; let i = index">
            <mat-form-field appearance="fill"
              [ngClass]=" i > 0 &&  i < tags.length && tags[i] === tags[i - 1] || tags[i] === tags[i + 1] ? 'inOne': ''"
              [ngStyle]="(i > 0 &&  i < tags.length && tags[i] === tags[i - 1]) ? {'margin-bottom':  '0.3em'} : {'margin-bottom':  '0.em'}">
              <mat-label>{{keys[i]}}</mat-label>
              <input matInput
                    [formControl]="configItemForms.controls[i]"
                    placeholder="placeholder">
          </mat-form-field>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>


<div mat-dialog-actions>
  <button mat-button (click)="onSaveClicked()" cdkFocusInitial>Save</button>
  <button mat-button [mat-dialog-close]>Cancel</button>
</div>
