<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content>
  <form id="form" [formGroup]="configForm" (ngSubmit)="onSubmit()">
    <ng-template #nodeTemplateRef let-node>
      <div>
        <div *ngIf="node.children.length">
          <ng-template
            ngFor
            [ngForOf]="node.children"
            [ngForTemplate]="nodeTemplateRef"
          >
          </ng-template>
        </div>
        <div *ngIf="!node.children.length">
          <mat-label class="labelStyle">
            {{ node.parent | labelformatter }}
          </mat-label>

          <mat-form-field *ngIf="node.type === 'str'">
            <mat-label [for]="node.key" style="white-space: pre-line">
              {{ node.key }}
            </mat-label>
            <input
              matInput
              type="text"
              [formControl]="configForm.get(node.fullKey)"
              class="form-control"
            />
          </mat-form-field>

          <ng-container *ngIf="node.type === 'bool'">
            <mat-label
              [for]="node.key"
              style="white-space: pre-line"
              class="labelStyle"
            >
              {{ node.key }}
            </mat-label>
            <br />
            <mat-radio-group
              [for]="node.key"
              [formControl]="configForm.get(node.fullKey)"
              class="form-control"
              class="labelStyle"
            >
              <mat-radio-button [value]="true" style="margin: 5px"
                >Yes</mat-radio-button
              >
              <mat-radio-button [value]="false" style="margin: 5px"
                >No</mat-radio-button
              >
            </mat-radio-group>
          </ng-container>

          <mat-form-field *ngIf="node.type === 'num'">
            <mat-label [for]="node.key" style="white-space: pre-line">
              {{ node.key }}
            </mat-label>
            <input
              matInput
              type="number"
              [formControl]="configForm.get(node.fullKey)"
              class="form-control"
            />
          </mat-form-field>
        </div>
      </div>
    </ng-template>

    <ng-template
      *ngFor="let myKey of keys"
      [ngTemplateOutlet]="nodeTemplateRef"
      [ngTemplateOutletContext]="{ $implicit: myKey }"
    >
    </ng-template>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button type="submit" form="form" cdkFocusInitial>Save</button>
  <button mat-button [mat-dialog-close]>Cancel</button>
</div>
