.sidenav-container {
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.load-btn{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  top: 10%;
}