<mat-toolbar color="primary">
  <span>Management</span>

  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon save-icon"
    aria-label="Save"
    (click)="onSaveClicked()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Remove"
    [disabled]="modules.length < 1"
    (click)="onRemoveClicked()"
  >
    <mat-icon>remove</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Add"
    (click)="onAddClicked()"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<button
  mat-raised-button
  color="primary"
  class="load-btn"
  *ngIf="!(modules.length > 0)"
  (click)="onLoadClicked()"
>
  Load Data
</button>
<app-dashboard #dashboard [modules]="modules"></app-dashboard>
