
<div class="grid-container" >
  <mat-grid-list *ngIf="isPositionCalculated" cols="3" rowHeight="120px">
    <mat-grid-tile *ngFor="let position of positions" [colspan]="position.colspan">
      <mat-card class="position.name">
        <mat-card-header>
            {{position.name}}
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let module of (modules | moduleFilter: position.name)">
              <div>{{module.module}}</div>
              <div>
                <button mat-icon-button class="drag-button">
                  <mat-icon class="drag-icon">drag_indicator</mat-icon>
                </button>
              </div>
            </mat-list-option>
          </mat-selection-list> 
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
