.grid-container {
  padding: 10px;
  background: black;
  min-height: 40em;
  width: 20em;
  margin: auto;
}
.top_bar{
  top: 0;
  width: 100%;
  text-align: center;
  min-height: 4em;
}
.top_left {
  top: 4em;
  text-align: left;
  float: left;
  width: 32%;
  min-height: 8em;
  
}
.top_center {
  top: 4em;
  float: left;
  width: 32%;
  min-height: 8em;
  margin-right: 2%;
  margin-left: 2%;
}
.top_right {
  top: 4em;
  float: right;
  text-align: right;
  width: 32%;
  min-height: 8em;
}
.upper_third {
  top: 13em;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 5em;
}
.middle_center {
  top: 19em;
  width: 100%;
  float: left;
  text-align: center;
  min-height: 5em;
}
.lower_third {
  top: 24em;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 5em;
}
.bottom_bar{
  top: 34em;
  float: left;
  width: 100%;
  text-align: center;
  min-height: 5em;
}
.bottom_left {
  top: 29em;
  float: left;
  text-align: left;
  width: 32%;
  min-height: 8em;
}
.bottom_center {
  bottom: 29em;
  float: left;
  width: 32%;
  min-height: 8em;
  margin-right: 2%;
  margin-left: 2%;
}
.bottom_right {
  top: 29em;
  float: right;
  text-align: right;
  width: 32%;
  min-height: 8em;
}
