<div class="grid-container" *ngIf="isPositionCalculated">
 <div cdkDropListGroup>
      <div cdkDropList
          *ngFor="let position of positions, let i = index" 
          (cdkDropListDropped)="drop($event)"
          class="{{position.name}}"
          [ngStyle]="{'background': position.background}"
          id="{{position.name}}">
          <div style="text-align: center;">{{position.name}}</div>        
          <div *ngFor="let module of position.modules"
               cdkDrag
               [cdkDragData]="module"
               >
               <div style="font-size: small;margin-left: 5px;float: center;">
                <span style="cursor: pointer;"
                (click)="onModuleDblClicked(module)">{{module.module}}</span>
              </div>
              <div *cdkDragPreview [ngStyle]="{'background': position.background}">{{module.module}}</div>
          </div>
    </div>
  </div>
</div>
